.layout{
    width: 95%;
    height: 100%;
    margin: 40px;

    &__child{
        width: fit-content;
        height: fit-content;
    }
}

.separator{
    width: 100%;
    height: 1px;
    flex-shrink: 0;
    background: #E5E5E5;
}

